<h1>Du lieu Gui ve tu controller la: @ViewBag.infoPerson</h1>
<form asp-action="Index">
<label>Nhap ID</label>
<input type="text" name="PersonId">    
<label>Nhap Họ Tên</label>
<input type = "text" name="FullName">
<label>Nhap dia chi</label>
<input type="text" name="Address">
<input type="submit" value=" Gui gia tri">
</form>